* {
    font-family: "Stylish", sans-serif;
}

.wrap {
    width: 1200px;
    margin: auto;
    padding: 15px;
    background-color: rgba(228, 241, 254, 1);
    min-height: 300vh;

}

.banner {
    width: 100%;
    height: 460px;

    background-color: white;
    background-image: url("logo.JPG");

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    cursor: pointer;
}

.weather {
    border: 1px solid darkblue;
    float: left;
    width: 33.3%;
    padding: 40px
}

.searchbar {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    padding: 20px;
}

.hotboxs {
    display: flex;
    width: 12rem;
    margin: 22px;
    padding: 5px;
}

.hotbox {

}